@CHARSET "UTF-8";

/*-------------------------------------
网站格式通用样式，主要包括基本组件或者自定义通用组件的字体大小，字体类别，文本对齐方式，背景图，光标类别等其他不在颜色和布局样式中指定的属性

version:	1.5
author:		廖凌浩
email:		liaolinghao@126.com

-------------------------------------*/
* {
	word-wrap: break-word;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif, "微软雅黑";
	text-align: center;
}

a {
	outline: 0;
	text-decoration: none;
}

input[type="checkbox"] {
	vertical-align: middle;
}

img {
	border: 0;
}

li {
	list-style: none outside none;
}

input[type="button"]:hover, input[type="submit"]:hover {
	cursor: pointer;
}

input::-moz-focus-inner, button::-moz-focus-inner {
	outline: none;
	border: 0;
} /*for mozilla*/

/*自定义checkbox*/
.chk {
	display: none;
}

.chk+label {
	border: 1px solid #56C2AC;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
}

/* .chk:checked+label {
	border: 1px solid #92A1AC;
} */

.chk:checked+label:after {
	content: '\2714';
	font-size: 1em;
	text-align: center;
}

/*返回顶部组件*/
.go_top {
	background-image: url(images/go_top1.png);
	background-repeat: no-repeat;
	z-index: 9999;
}

.go_top:hover {
	background-image: url(images/go_top2.png);
	background-repeat: no-repeat;
	z-index: 9999;
}

/* 水平滚动广告组件 */
.advertisement {
	overflow: hidden;
}

.advertisement li div {
	overflow: hidden;
}

.advertisement a:hover img {
	filter: alpha(opacity = 86);
	-moz-opacity: 0.86;
	opacity: 0.86;
}

.advertisement .aleft {
	background: url(images/left.png) no-repeat scroll 0px center transparent;
}

.advertisement .aright {
	background: url(images/right.png) no-repeat scroll 0px center
		transparent;
}

.advertisement .abtn {
	z-index: 11111;
	display: none;
	overflow: hidden;
	text-align: center;
}

/* 侧边浮动提示组件*/
.floatSidebar {
	display: block;
	background-clip: padding-box;
	border: 1px solid #C4CCD7;
	border-radius: 4px 0px 0px 4px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	transition: right 1s ease 0s;
	z-index: 110;
	text-align: center;
	cursor: pointer;
}

/*通用样式*/
.pointer {
	cursor: pointer;
}

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}