<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.etender.SubprojectMapper">
	<resultMap id="BaseResultMap" type="com.web.model.etender.Subproject">
		<id column="subProjectID" property="subprojectid" jdbcType="INTEGER" />
		<result column="queryProjectID" property="queryprojectid"
			jdbcType="INTEGER" />
		<result column="tbqSubProjectID" property="tbqsubprojectid"
			jdbcType="INTEGER" />
		<result column="source" property="source" jdbcType="TINYINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
		<result column="timeZone" property="timezone" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="createBy" property="createby" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updateBy" property="updateby" jdbcType="VARCHAR" />
		<result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="logicCounter" property="logiccounter" jdbcType="BIGINT" />
		<result column="logicDelete" property="logicdelete" jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		subProjectID, queryProjectID, tbqSubProjectID, source,
		name, endTime, timeZone,
		status,
		remark, createBy, createTime, updateBy,
		updateTime, logicCounter, logicDelete
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_subproject
		where subProjectID = #{subprojectid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_subproject
		where subProjectID = #{subprojectid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.web.model.etender.Subproject">
		insert into t_subproject
		(subProjectID, queryProjectID,
		tbqSubProjectID,
		source, name, endTime,
		timeZone, status, remark,
		createBy, createTime, updateBy,
		updateTime,
		logicCounter, logicDelete
		)
		values (#{subprojectid,jdbcType=INTEGER},
		#{queryprojectid,jdbcType=INTEGER},
		#{tbqsubprojectid,jdbcType=INTEGER},
		#{source,jdbcType=TINYINT},
		#{name,jdbcType=VARCHAR}, #{endtime,jdbcType=TIMESTAMP},
		#{timezone,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
		#{remark,jdbcType=VARCHAR},
		#{createby,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR},
		#{updatetime,jdbcType=TIMESTAMP}, #{logiccounter,jdbcType=BIGINT},
		#{logicdelete,jdbcType=BIT}
		)
	</insert>
	<!-- 使用useGeneratedKeys/KeyProperty来实现插入数据的时候新生成主键的返回。 -->
	<insert id="insertSelective" useGeneratedKeys="true"
		keyProperty="subprojectid" parameterType="com.web.model.etender.Subproject">
		insert into t_subproject
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="subprojectid != null">
				subProjectID,
			</if>
			<if test="queryprojectid != null">
				queryProjectID,
			</if>
			<if test="tbqsubprojectid != null">
				tbqSubProjectID,
			</if>
			<if test="source != null">
				source,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="endtime != null">
				endTime,
			</if>
			<if test="timezone != null">
				timeZone,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createby != null">
				createBy,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="updateby != null">
				updateBy,
			</if>
			<if test="updatetime != null">
				updateTime,
			</if>
			<if test="logiccounter != null">
				logicCounter,
			</if>
			<if test="logicdelete != null">
				logicDelete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="subprojectid != null">
				#{subprojectid,jdbcType=INTEGER},
			</if>
			<if test="queryprojectid != null">
				#{queryprojectid,jdbcType=INTEGER},
			</if>
			<if test="tbqsubprojectid != null">
				#{tbqsubprojectid,jdbcType=INTEGER},
			</if>
			<if test="source != null">
				#{source,jdbcType=TINYINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="endtime != null">
				#{endtime,jdbcType=TIMESTAMP},
			</if>
			<if test="timezone != null">
				#{timezone,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createby != null">
				#{createby,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateby != null">
				#{updateby,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="logiccounter != null">
				#{logiccounter,jdbcType=BIGINT},
			</if>
			<if test="logicdelete != null">
				#{logicdelete,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.web.model.etender.Subproject">
		update t_subproject
		<set>
			<if test="queryprojectid != null">
				queryProjectID = #{queryprojectid,jdbcType=INTEGER},
			</if>
			<if test="tbqsubprojectid != null">
				tbqSubProjectID = #{tbqsubprojectid,jdbcType=INTEGER},
			</if>
			<if test="source != null">
				source = #{source,jdbcType=TINYINT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="endtime != null">
				endTime = #{endtime,jdbcType=TIMESTAMP},
			</if>
			<if test="timezone != null">
				timeZone = #{timezone,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createby != null">
				createBy = #{createby,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateby != null">
				updateBy = #{updateby,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updateTime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="logiccounter != null">
				logicCounter = #{logiccounter,jdbcType=BIGINT},
			</if>
			<if test="logicdelete != null">
				logicDelete = #{logicdelete,jdbcType=BIT},
			</if>
		</set>
		where subProjectID = #{subprojectid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.web.model.etender.Subproject">
		update
		t_subproject
		set queryProjectID =
		#{queryprojectid,jdbcType=INTEGER},
		tbqSubProjectID =
		#{tbqsubprojectid,jdbcType=INTEGER},
		source =
		#{source,jdbcType=TINYINT},
		name = #{name,jdbcType=VARCHAR},
		endTime =
		#{endtime,jdbcType=TIMESTAMP},
		timeZone = #{timezone,jdbcType=VARCHAR},
		status = #{status,jdbcType=TINYINT},
		remark =
		#{remark,jdbcType=VARCHAR},
		createBy = #{createby,jdbcType=VARCHAR},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		updateBy =
		#{updateby,jdbcType=VARCHAR},
		updateTime =
		#{updatetime,jdbcType=TIMESTAMP},
		logicCounter =
		#{logiccounter,jdbcType=BIGINT},
		logicDelete =
		#{logicdelete,jdbcType=BIT}
		where subProjectID =
		#{subprojectid,jdbcType=INTEGER}
	</update>
	<select id="loadSubProject" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_subproject where queryProjectID =
		#{queryprojectid,jdbcType=INTEGER} and
		logicDelete !=1 order by
		subProjectID
	</select>
	<select id="loadSubProjectIDs" resultType="java.lang.Integer">
		select
		subProjectID
		from t_subproject where queryProjectID =
		#{queryprojectid,jdbcType=INTEGER} and
		logicDelete !=1 order by
		subProjectID
	</select>
	<select id="loadEvaluationSubProjectIDs" resultType="java.lang.Integer">
		select
		subProjectID
		from t_subproject where queryProjectID =
		#{queryprojectid,jdbcType=INTEGER}
		and endTime &lt; now()
		and endTime !=
		'0000-00-00 00:00:00'
		and logicDelete !=1 order by
		subProjectID
	</select>
	<select id="loadQueryProjectIDs" resultType="java.lang.Integer"
		parameterType="java.util.List">
		select
		distinct
		queryProjectID
		from t_subproject where
		logicDelete !=1 and
		subProjectID in
		<choose>
			<when test="list != null and list.size() > 0">
				<foreach item="item" index="index" collection="list" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</when>
			<otherwise>
				(-1)
			</otherwise>
		</choose>
		order by
		queryProjectID desc
	</select>
	<select id="loadLastEndSubProject" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_subproject
		<where>
			<if test="_parameter.containsKey('queryProjectID')">
				queryProjectID = #{queryProjectID}
			</if>
			<if test="_parameter.containsKey('subProjectIDs')">
				and subProjectID in
				<choose>
					<when test="subProjectIDs != null and subProjectIDs.size() > 0">
						<foreach item="item" index="index" collection="subProjectIDs"
							open="(" separator="," close=")">
							#{item}
						</foreach>
					</when>
					<otherwise>
						(-1)
					</otherwise>
				</choose>
			</if>
			<if test="_parameter.containsKey('logicDelete')">
				and logicDelete = #{logicDelete}
			</if>
		</where>
		order by
		endTime desc limit 0,1
	</select>
	<select id="loadQuoteSubProject" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_subproject
		<where>
			<if test="_parameter.containsKey('queryProjectID')">
				queryProjectID = #{queryProjectID}
			</if>
			<if test="_parameter.containsKey('subProjectIDs')">
				and subProjectID in
				<choose>
					<when test="subProjectIDs != null and subProjectIDs.size() > 0">
						<foreach item="item" index="index" collection="subProjectIDs"
							open="(" separator="," close=")">
							#{item}
						</foreach>
					</when>
					<otherwise>
						(-1)
					</otherwise>
				</choose>
			</if>
			<if test="_parameter.containsKey('logicDelete')">
				and logicDelete = #{logicDelete}
			</if>
		</where>
		order by
		subProjectID asc
	</select>
	<select id="loadQuoteSubProjectIDs" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select subProjectID from t_subproject
		<where>
			<if test="_parameter.containsKey('queryProjectID')">
				queryProjectID = #{queryProjectID}
			</if>
			<if test="_parameter.containsKey('subProjectIDs')">
				and subProjectID in
				<choose>
					<when test="subProjectIDs != null and subProjectIDs.size() > 0">
						<foreach item="item" index="index" collection="subProjectIDs"
							open="(" separator="," close=")">
							#{item}
						</foreach>
					</when>
					<otherwise>
						(-1)
					</otherwise>
				</choose>
			</if>
			<if test="_parameter.containsKey('logicDelete')">
				and logicDelete = #{logicDelete}
			</if>
		</where>
		order by
		subProjectID asc
	</select>
	<update id="deleteSubProjectByLogic" parameterType="java.lang.Integer">
		update
		t_subproject
		set
		logicDelete = 1
		where subProjectID =
		#{subprojectid,jdbcType=INTEGER}
	</update>
	<select id="loadEtenderSubProject" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_subproject
		where queryProjectID = #{queryProjectID} and
		tbqSubProjectID = #{tbqSubProjectID}
		and source = 0
	</select>
</mapper>